/* mixin */
:root {
  --main-white: #f5f5f5;
  --main-black: #1F1B1B;
  --main-gray: #353535;
  --main-ivory: #E8E4D9;
  --gray-type1: #cdcdcd;
  --main-text-desc: #cdcdcd;
  --difference-gray: #dddddd;
  --color-gray: #eeeeee;
  --border-gray: rgba(255, 255, 255, 0.2);
  --border-gray-type2: #545454;
  --border-gray-type3: rgba(0, 0, 0, 0.2);
  --spacing-layout: 30px;
  --spacing-xs: 20px;
  --spacing-sm: 30px;
  --spacing-default: 60px;
  --spacing-md: 80px;
  --spacing-lg: 150px;
  --spacing-xl: 250px;
}

html,
body,
form,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
dt,
dd,
ul,
ol,
li,
fieldset,
table,
th,
td,
figure,
hr {
  margin: 0;
  padding: 0;
  font-weight: 400;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.blind {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
}

img {
  border: 0;
  margin: 0;
  padding: 0;
  line-height: 0;
}

a {
  display: inline-block;
  text-decoration: none;
}

br {
  font-family: initial;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
svg {
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img,
fieldset,
iframe {
  border: 0 none;
}

ul,
ol,
li {
  list-style: none;
}

em,
address {
  font-style: normal;
}

img,
input,
select,
textarea {
  vertical-align: middle;
}

input {
  appearance: none;
  border-radius: 0;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

button,
label {
  cursor: pointer;
}

button {
  background: 0;
  border: 0;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
}

button img {
  left: -3px;
  left: auto;
}

html:first-child select {
  height: 20px;
  padding-right: 6px;
}

option {
  padding-right: 6px;
}

textarea {
  overflow: auto;
  margin: -1px 0;
  padding-right: 1px;
}

.blind,
legend,
caption {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

hr {
  display: none;
}

legend {
  width: 0;
}

:root legend {
  margin-top: -1px;
  font-size: 0;
  line-height: 0;
}

caption {
  line-height: 0;
}

sub {
  font-size: 10px;
}

.clear:after {
  clear: both;
  content: "";
  display: block;
}

#bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  z-index: 1001;
}

.e_ {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*custom cursor*/
.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  mix-blend-mode: difference;
  z-index: 1000;
  opacity: 0;
}
.custom-cursor:not(.small) {
  width: 150px;
  height: 150px;
}
.custom-cursor.small {
  width: 0;
  height: 0;
}
.custom-cursor.on {
  mix-blend-mode: difference;
}
.custom-cursor.on__circle {
  background: #fff;
}
.custom-cursor.text.on .custom-cursor__body {
  opacity: 0;
}
.custom-cursor.text .custom-cursor__body {
  transition: 0.3s;
}
.custom-cursor__body {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.custom-cursor__circle {
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  width: 15px;
  height: 15px;
  background: #fff;
  z-index: 1;
}
.custom-cursor__text {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  mix-blend-mode: normal;
  z-index: 99999;
}
.custom-cursor__text__body {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.custom-cursor__text__txt {
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  transform: translate(-50%, calc(-50% - 5px));
  width: 15px;
  height: 15px;
  opacity: 0;
  z-index: 2;
}
.custom-cursor__text__txt span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-align: center;
  color: var(--main-white);
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.custom-cursor__text__txt span:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  font-size: 25px;
  font-weight: 500;
  letter-spacing: -0.5px;
  line-height: 100%;
  text-align: center;
  color: var(--main-white);
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  margin: 0 auto;
}
.custom-cursor__text.drag .custom-cursor__text__txt {
  background-size: 89px auto;
}
.custom-cursor__img {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 99999;
  font-size: 0;
}
.custom-cursor__img__body {
  position: relative;
  width: 280px;
  height: 373px;
  overflow: hidden;
}
.custom-cursor__img__body img {
  position: relative;
  width: 100%;
  z-index: 2;
}
.custom-cursor__img__body .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
  z-index: 1;
}
.custom-cursor__img.in-view img {
  clip-path: inset(0 100% 0 0);
  animation: insetImg 0.5s forwards;
}
@keyframes insetImg {
  0% {
    clip-path: inset(0 100% 0 0);
    transform: scale(1.4);
  }
  20% {
    clip-path: inset(0 100% 0 0);
    transform: scale(1.4);
  }
  100% {
    clip-path: inset(0 0 0 0%);
    transform: scale(1);
  }
}

/*lenis js*/
.lenis, .lenis body {
  height: auto;
  overflow-x: hidden;
}
.lenis body {
  overflow: hidden;
}
.lenis.lenis-smooth, .lenis body.lenis-smooth {
  scroll-behavior: auto !important;
}
.lenis.lenis-smooth[data-lenis-prevent], .lenis body.lenis-smooth[data-lenis-prevent] {
  overscroll-behavior: contain;
}
.lenis.lenis-stopped, .lenis body.lenis-stopped {
  overflow: hidden;
}
.lenis.lenis-smooth iframe, .lenis body.lenis-smooth iframe {
  pointer-events: none;
}

html {
  color-scheme: dark;
}

body {
  overflow-x: hidden;
  background: #111;
  cursor: none;
  font-size: 1vw;
}
body.scrolling, body.fixed-gnb {
  /*.gnb {
  	&__list {
  		animation: showGnb 0.5s forwards;

  		@keyframes showGnb {
  			0% {
  				opacity: 0;
  				transform: translate3d(0, 150%, 0);
  			}

  			100% {
  				opacity: 1;
  				transform: translate3d(0, 0, 0);
  			}
  		}
  	}
  }*/
}
body:not(.scrolling, .scrolled-init) {
  /*.gnb {
  	animation: hide 0.3s forwards;

  	@keyframes hide {
  		0% {}

  		100% {
  			display: none;
  		}
  	}

  	&__list {
  		animation: hideGnb 0.3s forwards;

  		@keyframes hideGnb {
  			0% {
  				opacity: 1;
  				transform: translate3d(0, 0, 0);
  			}

  			100% {
  				opacity: 0;
  				transform: translate3d(0, 0%, 0);
  			}
  		}
  	}
  }*/
}

#wrap,
#container {
  position: relative;
}

#container {
  background: var(--main-black);
  margin-bottom: var(--footer-height);
  box-shadow: 0px 100px 100px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.pg-wrapper {
  position: relative;
  z-index: 1;
}

.inner {
  position: relative;
  width: 100%;
  padding: 0 var(--spacing-layout);
  box-sizing: border-box;
  z-index: 1;
}

.ico-sns {
  width: 30px;
  height: 30px;
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
}
.ico-sns--instagram {
  background-image: url("../img/ico/ico-instagram.svg");
}
.ico-sns--github {
  background-image: url("../img/ico/ico-git.svg");
}
.ico-sns--notion {
  background-image: url("../img/ico/ico-notion.svg");
}
.ico-sns--pdf {
  background-image: url("../img/ico/ico-pdf.svg");
}

.ico-arrow--goto {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: var(--text-color);
  mask: url("../img/ico/ico-goto.svg") no-repeat center/contain;
  -webkit-mask: url("../img/ico/ico-goto.svg") no-repeat center/contain;
}

/*header*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 0 var(--spacing-layout);
  color: var(--text-color);
  text-align: center;
  z-index: 100;
}
.header::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, var(--bg-color) 10%, transparent);
  z-index: 0;
  pointer-events: none;
}
.header .inner {
  width: 100%;
  height: 100%;
}
.header .year {
  display: inline-block;
  padding: 1px 10px;
  border: 1px solid var(--text-color);
  border-radius: 50%;
  margin-bottom: 20px;
}
.header__logo {
  position: relative;
  font-size: 3vw;
  font-weight: 400;
  letter-spacing: -1px;
  line-height: 110%;
  transform-origin: top center;
  display: block;
  z-index: 1;
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
}
.header__logo a {
  transform-style: preserve-3d;
  perspective: 1000px;
  position: relative;
  display: block;
  transition: 0.5s;
}
.header__logo .split-text:not(.logo) span {
  display: inline-block;
  font-weight: 400;
}
.header__logo .logo span {
  font-weight: 500;
}

.gnb {
  position: fixed;
  top: var(--spacing-layout);
  right: var(--spacing-layout);
  border-radius: 10px;
  box-sizing: border-box;
  text-align: right;
  color: var(--text-color);
  z-index: 100;
}
.gnb__menu {
  display: none;
}
.gnb__menu.show {
  display: block;
}
.gnb__list {
  display: grid;
  gap: 15px 0;
  margin-top: 30px;
}
.gnb a {
  display: block;
  letter-spacing: 0.5px;
}
.gnb__btn {
  display: inline-block;
  width: auto;
  padding: 0;
  margin: 0;
  font-weight: 500;
  color: var(--text-color);
}

.intro-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--main-ivory);
  z-index: 101;
}

/*footer*/
.footer {
  position: fixed;
  transform: translateY(20vh);
  bottom: 0;
  left: 0;
  width: 100%;
  padding: var(--spacing-default) var(--spacing-layout);
  box-sizing: border-box;
  z-index: 0;
}
.footer__contents {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: var(--spacing-lg);
}
.footer__cont.cont--2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
/*split text*/
.split-text span {
  display: inline-block;
  transform: translate3d(0, 0%, 0);
}

.serif, .header__logo .logo span, .gnb a {
  font-family: "editorial", sans-serif;
}
.serif.split-text span, .header__logo .logo span.split-text span, .gnb a.split-text span, .serif.split span, .header__logo .logo span.split span, .gnb a.split span {
  font-family: "editorial", sans-serif;
}

.serif-italic, .header__logo .split-text:not(.logo) span {
  font-family: "editorial italic", sans-serif;
}
.serif-italic.split-text span, .header__logo .split-text:not(.logo) span.split-text span, .serif-italic.split span, .header__logo .split-text:not(.logo) span.split span {
  font-family: "editorial italic", sans-serif;
}

.sec {
  position: relative;
  width: 100%;
  /*title*/
}
.sec__title--desc {
  font-size: 20px;
  line-height: 150%;
}
.sec__title--sm {
  font-size: 24px;
  letter-spacing: -0.25px;
  line-height: 155%;
}
.sec__title--md {
  font-size: 55px;
  font-weight: 500;
  letter-spacing: -2px;
  line-height: 120%;
}
.sec__title--lg {
  font-size: 190px;
  letter-spacing: -6px;
  line-height: 100%;
}
.sec__title--lg .num {
  font-size: 30px;
  vertical-align: top;
  display: inline-block;
  margin: -100px 30px 0 70px;
}
.sec__title--lg .serif-italic, .sec__title--lg .header__logo .split-text:not(.logo) span, .header__logo .split-text:not(.logo) .sec__title--lg span {
  text-transform: initial;
}
.sec__cate {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 150%;
  margin-bottom: 150px;
}
.sec__cate::before {
  display: inline-block;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--text-color);
  vertical-align: top;
  margin: 5px 10px 0 0;
}

.font__style--desc {
  font-size: 17px;
  line-height: 125%;
}
.font__style--sm, .header, .gnb, .footer .copyright {
  font-size: 15px;
  line-height: 125%;
}
.font__style--md, .footer__contents {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.25px;
  line-height: 135%;
}
.font__style--md-bold {
  font-size: 24px;
  font-weight: 600;
  line-height: 135%;
}
.font__style--md2-bold {
  font-size: 24px;
  font-weight: 600;
  line-height: 135%;
}
.font__style--lg {
  font-size: 50px;
  font-weight: 400;
  line-height: 135%;
}
.font__style--big {
  font-size: 50px;
  font-weight: 500;
  line-height: 135%;
}

.tag {
  position: relative;
  display: inline-block;
  padding: 5px 10px;
  margin: 2px;
}
.tag::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid var(--text-color);
  opacity: 0.3;
  box-sizing: border-box;
  border-radius: 40px;
}

/*animation*/
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes opacityAlternate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.ani {
  opacity: 0;
}

.ani.in-view {
  animation: opacity 1.5s 0.2s forwards;
}

@media screen and (max-width: 1600px) {
  /*html{font-size: 0.0625vw;}*/
}
@media screen and (max-width: 1280px) {
  /*html{font-size: 0.0925vw;}*/
  html::after {
    background-size: 100%;
  }
  .profile__row {
    display: block;
  }
  .custom-cursor {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  #wrap .inner {
    padding: 0 20px;
  }
  #wrap .gnb {
    display: none;
  }
  #wrap .home__title {
    font-size: 4.2em;
  }
}
@media screen and (max-width: 600px) {
  html {
    font-size: 0.17vw;
  }
}

/*# sourceMappingURL=common.css.map */
