/*common*/
@import "common.scss";

/*noise*/
html{
  &::after{content: "";position: fixed;top:0;left:0;width:100%;height:100%;background-image: url(../img/noise.png);background-repeat: repeat; pointer-events: none; opacity: .6; z-index: 10000;}
}
#content{padding-top: 378px;}
.ico-sns{width: 30px; height: 30px; display: inline-block;vertical-align: middle; background-repeat:no-repeat;
  &--instagram{background-image:url('../img/ico/ico-instagram.svg');}
  &--github{background-image: url('../img/ico/ico-git.svg');}
  &--notion{background-image: url('../img/ico/ico-notion.svg');}
}
.sec{position: relative; width: 100%;
  /*title*/
  &__title{
    &--md{@include font-style(null, 20px, null, null, 150%);}
    &--lg{@include font-style(null, 9vw, null, null, 95%); letter-spacing: -7px; text-transform: uppercase;
      .num{font-size: 30px; vertical-align: top; display: inline-block; margin: -100px 30px 0 70px;}
      .serif-italic{text-transform: initial;}
    }
  }
  &__cate{@include font-style(null, 15px, null, null, 150%);}
}
.font{
  &__style{
    &--md{@include font-style(null, 20px, null, null, 125%);}
  }
}
.tag{
  display: inline-block; border:1px solid var(--border-gray); padding: 5px 10px; margin: 2px; border-radius: 40px;
}

/*home*/
.home{
  &__sticky{position: relative;}
  &__shapes-area{position: relative; width: 100%; min-height: 100vh; background:#b3b3b3; }
  .overlay{position: absolute;width: 100%;height: 100%; top:0;bottom: 0; left: 0;right: 0;background: rgba(0,0,0,0); pointer-events: none;}
  canvas{height: 100vh;}
}

/*profile*/
.profile{pointer-events: none;
  .sec{
    /*title*/
    &__title{margin-bottom:80px;
      &--md{width: 50%;margin-left:50%;}
      &--lg{margin-bottom:50px;}
      .space{display: flex;justify-content: space-between;}
    }
  }
  &__box{position: relative;width: 100%; border-radius: 30px 30px 0 0; backdrop-filter: blur(5px);-webkit-backdrop-filter: blur(5px); padding: 150px 0;background:rgb(18 18 18 / 60%);pointer-events: initial;
    &:before{display: block; content: ""; position: absolute; bottom: -1px;left: 0;width: 100%;height: 200px;background: linear-gradient(0deg, #1E1F21, transparent 100%);}
    }
  &__item{border-top:1px solid var(--border-gray); padding: 25px 0 30px;}  
  &__category{font-size:15px; margin-bottom: 10px;}
  &__contents{@extend .font__style--md;
    &--type1{display: grid;grid-template-columns: 33% auto; align-items: center;}
    a{display: inline-block;}
  }
  &__list{
    li{position: relative; padding-left:15px;
      &:before{display:block; content:"·"; position:absolute; top:0; left:0; }
    }
  }
  &__row{display: grid; grid-template-columns:1fr 1fr; grid-gap: 30px;
    &:last-child{
      [class*="__item"]{border-bottom:1px solid var(--border-gray);}
    }
    &--type1{grid-template-columns: 1fr;}
    &--type3{grid-template-columns: calc(25% - 23px) calc(25% - 23px) calc(50% - 15px) ;}
    &--type3-1{grid-template-columns: calc(50% - 15px) calc(25% - 23px) calc(25% - 23px);}
    &--type4{grid-template-columns: repeat(4, 1fr) ;}
  }
}

/*work*/
.work{
  &:before{display: block; content: ""; position: absolute; top: -1px;left: 0;width: 100%;height: 200px;background:var(--main-black);}
  &__lineup{padding: 150px 0 0px;}
  .sec{
    &__title{ margin-bottom: 80px;
      &--lg{line-height: 85%;
        p{width: 100%;display: flex;justify-content: space-between; align-items: baseline;}
      }
    }
  }
  &__img{position: relative; transform: scale(0.4); transform-origin: left top; border-radius: 30px; padding-top: 56%; overflow: hidden;
    img{position: absolute; top:0; left: 0; width: 100%;}
    img + img{opacity: 0; transform: scale(1);}
  }
  .sec__cate{margin-bottom: 20px;}
  .history{
    &__list{@extend .font__style--md; border-top:1px solid var(--border-gray);
      li{display: grid; grid-template-columns: 120px auto 300px; align-items: center; gap:0 20px; padding: 5px 0; border-bottom:1px solid var(--border-gray);}
    }
  }
}


/*folders*/
.folders{padding: 150px 0 250px;backdrop-filter: blur(20px);-webkit-backdrop-filter: blur(20px);box-sizing: border-box;
  .sec{
    &__title{ margin-bottom: 80px;}
  }
}
.card-slider{position: relative; width: 100%; padding-top: 30px;
  .slide-area{perspective:100vw;position: relative;--width: 370px;--height: calc(var(--width) / 3 *2);--origin: calc(var(--height) * 12);width: 100%;height: var(--height);
    .card-holder{ position: absolute;width: var(--width);height: 50vh;left: 50%;top: 0;transform: translateX(-50%);
      .card-transition{transform-origin: calc(var(--width) / 2) var(--origin); transform: rotate(50deg);
        .card{--rotation: 0deg;position: absolute;top: 0px;left: 0px;padding: 20px;background: #bbb;height: var(--height);width: var(--width);transform: rotate(var(--rotation));transform-origin: 50% var(--origin);border-radius: 20px;box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.01);box-sizing: border-box;
          &::before{display: block;content: "";position: absolute;bottom: calc(100% - 20px);left: 0;background: #bbb;width: 50%;height: 45px;border-radius: 20px 45px 0 0;z-index: -1;}
          &::after{display: block;content: "";position: absolute;bottom: 0;left: 0;width: 100%;height: 75%;background: rgba(255, 255, 255, .3);border-radius: 20px;backdrop-filter: blur(10px);}
        }
      }
    }
  }
  .card-message{position: absolute;top: 100%;left: 0px;padding-left: 40px;margin-top: 20px;font-weight: 500;font-size: 18px;opacity: 0;
    &::before{display: block;content: "";position: absolute;top: 6px;left: 20px;width: 10px;height: 10px;border-radius: 100%;background: #bbbbbb;}
  }
}
.action-card{opacity: 0; --width: 288px;--height: calc(var(--width) / 3 *4);position: absolute; top:0;left: 50%; transform: translateX(-50%); width: 50%;height: var(--height); display: flex; justify-content: center;
  .card{width:  var(--width);height: var(--height); background: #fff; transform-style: preserve-3d;transform-origin: top;border-radius:17px; overflow: hidden;}
}



.test{height: 100vh;padding:150px 0 90px; box-sizing: border-box;
  .inner{height: 100%; display: grid; grid-template-columns:1fr 1fr;}
  .content{position: relative; display: flex;justify-content: center; --width: 90%;--height: calc(var(--width) / 1.2);
    .group{height: 100%;
    }
    .cards{position: relative; width: 100%;
      [class*="card"]{ position: absolute; top:0; left:50%; margin-left: calc(-1 * var(--width) / 2);margin-top: 110px; background: #fff;height: var(--height);width: var(--width);border-radius: 17px;box-shadow: 0px 0px 50px rgba(0,0,0,0.15);background: #bbb; overflow: hidden;
        img{width: 100%;height: 100%;}
        
        @keyframes cardAni {
          0% {width: 288px;}
          100%{width: var(--width);}
        }
      }
    }
    [class*="text"]{position:absolute;bottom:0;left: 0; font-size:1.042vw;line-height: 150%; opacity: 0; word-break: break-all;mix-blend-mode: difference; z-index: 1;
      &.text1{opacity: 1;}
    }
  }
}
.test2{padding: 150px 0;
  .awards{
    .item{position: relative; width: 100%;height: 100vh;min-height: 800px; display: flex; align-items: center;justify-content:center;
      .img{position: relative; 
        img{position: relative;z-index: 1;}
        &::before{display: block;content: "";position: absolute;top: calc(100%);left: 50%;width: 400px;height: 88px;border-radius: 100%;background: rgba(0,0,0,0.1);filter: blur(20px);transform: translateX(-50%);z-index: 0;}
      }
      .text{position: absolute; top:50%;left:50%; text-align: center; padding: 50px 0; transform: translate(-50%,-50%); white-space: nowrap; mix-blend-mode: difference;  cursor: pointer; z-index: 10;
        .title{display: block; color: #acacac; font-size: 5.208vw;transform:  rotate(3.818deg); font-weight: 500; text-transform: uppercase; letter-spacing: -1px;}
        .tag{position: absolute; bottom: 120px;left: calc(50% + 160px);transform: translateX(-50%);
          span{margin: 5px 0; border-radius: 100px;background: rgba(255, 255, 255, 0.6);backdrop-filter: blur(5px);font-size: 3.125vw;font-weight: 500;padding: 5px 32px 7px 32px;display: block;}
         
        }
      }
      &.act .img{animation: showAward 0.5s forwards;}
      @keyframes showAward {
        0% {opacity: 0; transform: translate3d(0px,20px,0) rotate(-5deg);}
        100%{opacity: 1; transform: translate3d(0,0px,0);}
      }
    }
  }
}

@media screen and (max-width: 1280px){
  .profile{
    &__contents{
      i{width: 25px; height: 25px;}
    }
  } 
  .test{
    .inner{display: block;}
    .content{--height: auto;}
  }
}
@media screen and (max-width: 768px){
  .sec__title--lg{letter-spacing: 0;}
  .profile{
    &__contents{
      i{width: 20px; height: 20px;}
    }
  } 
  .profile__box{border-top-left-radius: 15px; border-top-right-radius: 15px;}
  .title-group{margin-bottom: 30px;}
  .hhh{
    .main-img{border-radius: 15px;}
  }
  .work2{padding: 70px 0;}
}


