@charset "UTF-8";
/*common*/
/* mixin */
:root {
  --main-white: #f5f5f5;
  --main-gray:#e1e1e1;
  --main-black: #1E1F21;
  --difference-gray: #dddddd;
  --color-gray:#eeeeee;
  --border-gray:#67676b;
}

html, body, form, div, p, h1, h2, h3, h4, h5, h6, dl, dt, dd, ul, ol, li, fieldset, table, th, td, figure, hr {
  margin: 0;
  padding: 0;
  font-weight: 400;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.blind {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
}

img {
  border: 0;
  margin: 0;
  padding: 0;
  line-height: 0;
}

a {
  display: inline-block;
  text-decoration: none;
}

br {
  font-family: initial;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, svg {
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img, fieldset, iframe {
  border: 0 none;
}

ul, ol, li {
  list-style: none;
}

em, address {
  font-style: normal;
}

img, input, select, textarea {
  vertical-align: middle;
}

input {
  appearance: none;
  border-radius: 0;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

button, label {
  cursor: pointer;
}

button {
  background: 0;
  border: 0;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
}

button img {
  left: -3px;
  left: auto;
}

html:first-child select {
  height: 20px;
  padding-right: 6px;
}

option {
  padding-right: 6px;
}

textarea {
  overflow: auto;
  margin: -1px 0;
  padding-right: 1px;
}

.blind, legend, caption {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

hr {
  display: none;
}

legend {
  width: 0;
}

:root legend {
  margin-top: -1px;
  font-size: 0;
  line-height: 0;
}

caption {
  line-height: 0;
}

sub {
  font-size: 10px;
}

.clear:after {
  clear: both;
  content: "";
  display: block;
}

#bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  z-index: 1001;
}

.e_ {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*split text*/
.split-text span {
  display: inline-block;
  transform: translate3d(0, 200%, 0);
}

.serif-italic {
  font-family: "editorial italic", sans-serif;
}
.serif-italic--light {
  font-family: "editorial italic", sans-serif;
  font-weight: 300;
}
.serif-italic--md {
  font-family: "editorial italic", sans-serif;
  font-weight: 400;
}

/*custom cursor*/
.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  mix-blend-mode: difference;
  z-index: 1000;
  opacity: 0;
}
.custom-cursor:not(.small) {
  width: 150px;
  height: 150px;
}
.custom-cursor.small {
  width: 0;
  height: 0;
}
.custom-cursor.on {
  mix-blend-mode: difference;
}
.custom-cursor.on__circle {
  background: #fff;
}
.custom-cursor.text.on .custom-cursor__body {
  opacity: 0;
}
.custom-cursor.text .custom-cursor__body {
  transition: 0.3s;
}
.custom-cursor__body {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.custom-cursor__circle {
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  width: 15px;
  height: 15px;
  background: #fff;
  z-index: 1;
}
.custom-cursor__text {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  mix-blend-mode: normal;
  z-index: 99999;
}
.custom-cursor__text__body {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.custom-cursor__text__txt {
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  transform: translate(-50%, calc(-50% - 5px));
  width: 15px;
  height: 15px;
  opacity: 0;
  z-index: 2;
}
.custom-cursor__text__txt span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  font-size: 25px;
  text-align: center;
  color: var(--main-white);
  font-weight: 400;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  letter-spacing: 0.5px;
}
.custom-cursor__text__txt span:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  font-size: 25px;
  text-align: center;
  color: var(--main-white);
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  letter-spacing: -0.5px;
  line-height: 100%;
  white-space: nowrap;
  margin: 0 auto;
}
.custom-cursor__text.drag .custom-cursor__text__txt {
  background-size: 89px auto;
}
.custom-cursor__img {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 99999;
}
.custom-cursor__img__body {
  position: relative;
  width: 280px;
  height: 373px;
  border-radius: 15px;
  overflow: hidden;
}
.custom-cursor__img__body img {
  position: relative;
  width: 100%;
  z-index: 2;
}
.custom-cursor__img__body .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
  z-index: 1;
}
.custom-cursor__img.ani img {
  animation: insetImg 0.4s forwards;
}
@keyframes insetImg {
  0% {
    clip-path: inset(0 100% 0 0);
    transform: scale(1.4);
  }
  100% {
    clip-path: inset(0 0 0 0%);
    transform: scale(1);
  }
}

/*lenis js*/
.lenis, .lenis body {
  height: auto;
  overflow-x: hidden;
}
.lenis body {
  overflow: hidden;
}
.lenis.lenis-smooth, .lenis body.lenis-smooth {
  scroll-behavior: auto !important;
}
.lenis.lenis-smooth[data-lenis-prevent], .lenis body.lenis-smooth[data-lenis-prevent] {
  overscroll-behavior: contain;
}
.lenis.lenis-stopped, .lenis body.lenis-stopped {
  overflow: hidden;
}
.lenis.lenis-smooth iframe, .lenis body.lenis-smooth iframe {
  pointer-events: none;
}

html {
  color-scheme: dark;
}

body {
  overflow-x: hidden;
  color: var(--main-white);
  background: var(--main-black);
  cursor: none;
  font-size: 1vw;
}
body.scrolling .gnb__list, body.fixed-gnb .gnb__list {
  animation: showGnb 0.5s forwards;
}
@keyframes showGnb {
  0% {
    opacity: 0;
    transform: translate3d(0, 150%, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
body:not(.scrolling, .scrolled-init) .gnb {
  animation: hide 0.3s forwards;
}
@keyframes hide {
  100% {
    display: none;
  }
}
body:not(.scrolling, .scrolled-init) .gnb__list {
  animation: hideGnb 0.3s forwards;
}
@keyframes hideGnb {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 0;
    transform: translate3d(0, 0%, 0);
  }
}

#wrap, #container {
  position: relative;
}

#container {
  background: var(--main-black);
}

.inner {
  position: relative;
  width: 100%;
  padding: 0 30px;
  box-sizing: border-box;
  z-index: 1;
}

.ico-sns {
  width: 30px;
  height: 30px;
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
}
.ico-sns--instagram {
  background-image: url("../img/ico/ico-instagram.svg");
}
.ico-sns--github {
  background-image: url("../img/ico/ico-git.svg");
}
.ico-sns--notion {
  background-image: url("../img/ico/ico-notion.svg");
}

.ico-arrow--goto {
  display: inline-block;
  background-size: 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12' fill='none'%3E%3Cpath d='M1.29289 9.29289L0.585786 10L2 11.4142L2.70711 10.7071L1.29289 9.29289ZM12 1C12 0.447716 11.5523 5.78052e-07 11 5.78052e-07H2C1.44771 5.78052e-07 1 0.447716 1 1C1 1.55229 1.44771 2 2 2H10V10C10 10.5523 10.4477 11 11 11C11.5523 11 12 10.5523 12 10V1ZM2.70711 10.7071L11.7071 1.70711L10.2929 0.292894L1.29289 9.29289L2.70711 10.7071Z' fill='%23dddddd'/%3E%3C/svg%3E");
}

/*header*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  mix-blend-mode: difference;
  padding-top: 3vw;
  z-index: 100;
}
.header .inner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  position: relative;
  font-size: 2.5vw;
  font-weight: 500;
  color: var(--difference-gray);
  line-height: 85%;
  letter-spacing: -1px;
  transform-origin: 0 0;
  transform: scale(4.5);
  display: block;
  overflow: hidden;
  z-index: 1;
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
}
.header__logo a {
  position: relative;
  display: block;
  overflow: hidden;
  opacity: 0;
}
.header .portfolio {
  font-size: 25px;
  color: var(--difference-gray);
  font-weight: 500;
}
.header .portfolio .ico-arrow--goto {
  width: 15px;
  height: 15px;
}
.header .btn-gnb {
  display: block;
  font-size: 27px;
  font-weight: 500;
  color: var(--difference-gray);
}

.gnb {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}
.gnb__list {
  display: flex;
  gap: 0 4px;
  font-size: 13px;
  text-align: center;
  padding: 7px 7px;
  background: rgba(30, 31, 33, 0.5);
  border-radius: 14px;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  opacity: 0;
}
.gnb a {
  padding: 5px 25px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: var(--main-white);
  border-radius: 7px;
}
.gnb .is-active {
  color: var(--main-white);
  border-color: var(--main-white);
}

@media screen and (max-width: 1600px) {
  /*html{font-size: 0.0625vw;}*/
}
@media screen and (max-width: 1280px) {
  /*html{font-size: 0.0925vw;}*/
  .profile__row {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  #wrap .inner {
    padding: 0 20px;
  }
  #wrap .header {
    height: 50px;
  }
  #wrap .header__logo {
    font-size: 20px !important;
  }
}
@media screen and (max-width: 600px) {
  html {
    font-size: 0.17vw;
  }
}
/*noise*/
html::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/noise.png);
  background-repeat: repeat;
  pointer-events: none;
  opacity: 0.7;
  z-index: 10000;
}

.sec {
  position: relative;
  width: 100%;
  /*title*/
}
.sec__title--sub {
  font-size: 20px;
  line-height: 150%;
}
.sec__title--md {
  font-size: 20px;
  line-height: 150%;
}
.sec__title--lg {
  font-size: 8em;
  line-height: 95%;
  letter-spacing: -7px;
  text-transform: uppercase;
}
.sec__title--lg .num {
  font-size: 30px;
  vertical-align: top;
  display: inline-block;
  margin: -100px 30px 0 70px;
}
.sec__title--lg .serif-italic {
  text-transform: initial;
}
.sec__cate {
  font-size: 15px;
  line-height: 150%;
}

.font__style--md, .work .history__list, .profile__contents {
  font-size: 20px;
  line-height: 125%;
}

.tag {
  display: inline-block;
  border: 1px solid var(--border-gray);
  padding: 5px 10px;
  margin: 2px;
  border-radius: 40px;
}

/*home*/
.home {
  height: 150vh;
}
.home__sticky {
  position: relative;
}
.home__shapes-area {
  position: relative;
  width: 100%;
  min-height: 100vh;
  border-radius: 40px;
  background: #2b2c2f;
  transform: scale(0.35) translateX(80vw);
}
.home .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0);
  pointer-events: none;
}
.home canvas {
  height: 100%;
  display: block;
}
.home__title {
  position: absolute;
  width: auto;
  bottom: 3vw;
  left: 0px;
  font-size: 2em;
  font-weight: 600;
  text-transform: uppercase;
  mix-blend-mode: difference;
  color: var(--difference-gray);
  letter-spacing: -0.02em;
  line-height: 125%;
  z-index: 10;
}
.home__title .serif-italic--md {
  text-transform: initial;
  letter-spacing: 1px;
}

/*profile*/
.profile {
  pointer-events: none;
}
.profile .sec {
  /*title*/
}
.profile .sec__title {
  margin-bottom: 80px;
}
.profile .sec__title--md {
  width: 50%;
  margin-left: 50%;
  padding-left: 30px;
}
.profile .sec__title--lg {
  margin-bottom: 50px;
}
.profile .sec__title .space {
  display: flex;
  justify-content: space-between;
}
.profile .sec__title .year {
  margin-right: 17px;
}
.profile .sec__cate {
  margin-bottom: 100px;
}
.profile__box {
  position: relative;
  width: 100%;
  border-radius: 30px 30px 0 0;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 80px 0 150px;
  background: rgba(30, 31, 33, 0.8);
  pointer-events: initial;
}
.profile__box:before {
  display: block;
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 150px;
  background: linear-gradient(0deg, #1E1F21, transparent 100%);
}
.profile__item {
  border-top: 1px solid var(--border-gray);
  padding: 25px 0 30px;
}
.profile__category {
  font-size: 15px;
  margin-bottom: 10px;
}
.profile__contents--type1 {
  display: grid;
  grid-template-columns: 33% auto;
  align-items: center;
}
.profile__contents a {
  display: inline-block;
}
.profile__list li {
  position: relative;
  padding-left: 15px;
}
.profile__list li:before {
  display: block;
  content: "·";
  position: absolute;
  top: 0;
  left: 0;
}
.profile__row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}
.profile__row:last-child [class*=__item] {
  border-bottom: 1px solid var(--border-gray);
}
.profile__row--type1 {
  grid-template-columns: 1fr;
}
.profile__row--type3 {
  grid-template-columns: calc(25% - 23px) calc(25% - 23px) calc(50% - 15px);
}
.profile__row--type3-1 {
  grid-template-columns: calc(50% - 15px) calc(25% - 23px) calc(25% - 23px);
}
.profile__row--type4 {
  grid-template-columns: repeat(4, 1fr);
}

/*work*/
.work:before {
  display: block;
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  height: 200px;
  background: var(--main-black);
}
.work__lineup {
  padding: 150px 0 0px;
}
.work .sec__title {
  margin-bottom: 80px;
}
.work .sec__title--lg {
  line-height: 85%;
}
.work .sec__title--lg .box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.work .sec__title--lg .box .move {
  position: relative;
  top: 0.05em;
}
.work__img {
  position: relative;
  transform: scale(0.4);
  transform-origin: left top;
  border-radius: 30px;
  padding-top: 56%;
  overflow: hidden;
}
.work__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.work__img img + img {
  opacity: 0;
  transform: scale(1);
}
.work .sec__cate {
  margin-bottom: 20px;
}
.work .ico-arrow--goto {
  width: 13px;
  height: 13px;
}
.work .history__list {
  border-top: 1px solid var(--border-gray);
}
.work .history__list li {
  display: grid;
  grid-template-columns: 120px auto 300px;
  align-items: center;
  gap: 0 20px;
  padding: 5px 0;
  border-bottom: 1px solid var(--border-gray);
}
.work .copyright {
  display: flex;
}
.work .year-container {
  display: flex;
  overflow: hidden;
}
.work .year-container .digit {
  position: relative;
  min-width: 0.62em;
  height: 0.8em;
  overflow: hidden;
  letter-spacing: -2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.work .year-container .digit span {
  position: absolute;
  width: 100%;
  text-align: center;
}
.work .year-container .digit span.current {
  z-index: 2;
}
.work .year-container .digit span.next {
  position: absolute;
  z-index: 1;
  opacity: 0;
}

/*folders*/
.folders {
  padding: 150px 0 250px;
  height: 100vh;
  min-height: 950px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
.folders .sec__title {
  margin-bottom: 80px;
}

.card-slider {
  position: relative;
  width: 100%;
  padding-top: 30px;
}
.card-slider .slide-area {
  perspective: 100vw;
  position: relative;
  --width: 370px;
  --height: calc(var(--width) / 3 *2);
  --origin: calc(var(--height) * 12);
  width: 100%;
  height: var(--height);
}
.card-slider .slide-area .card-holder {
  position: absolute;
  width: var(--width);
  height: 50vh;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}
.card-slider .slide-area .card-holder .card-transition {
  transform-origin: calc(var(--width) / 2) var(--origin);
  transform: rotate(50deg);
}
.card-slider .slide-area .card-holder .card-transition .card {
  --rotation: 0deg;
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 20px;
  background: #bbb;
  height: var(--height);
  width: var(--width);
  transform: rotate(var(--rotation));
  transform-origin: 50% var(--origin);
  border-radius: 20px;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.01);
  box-sizing: border-box;
}
.card-slider .slide-area .card-holder .card-transition .card::before {
  display: block;
  content: "";
  position: absolute;
  bottom: calc(100% - 20px);
  left: 0;
  background: #bbb;
  width: 50%;
  height: 45px;
  border-radius: 20px 45px 0 0;
  z-index: -1;
}
.card-slider .slide-area .card-holder .card-transition .card::after {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 75%;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
.card-slider .card-message {
  position: absolute;
  top: 100%;
  left: 0px;
  padding-left: 40px;
  margin-top: 20px;
  font-weight: 500;
  font-size: 18px;
  opacity: 0;
}
.card-slider .card-message::before {
  display: block;
  content: "";
  position: absolute;
  top: 6px;
  left: 20px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #bbbbbb;
}

.action-card {
  opacity: 0;
  --width: 288px;
  --height: calc(var(--width) / 3 *4);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: var(--height);
  display: flex;
  justify-content: center;
}
.action-card .card {
  width: var(--width);
  height: var(--height);
  background: #fff;
  transform-style: preserve-3d;
  transform-origin: top;
  border-radius: 17px;
  overflow: hidden;
}

.test {
  padding: 150px 0 100px;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
}
.test .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  opacity: 0;
  z-index: -1;
}
.test .bg::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.test .bg .img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.test .bg .img span {
  position: relative;
  left: -10%;
  top: 0%;
  width: 120%;
  height: 120%;
  display: block;
  background-size: cover;
  background-position: center;
}
.test .bg .img:first-child span {
  opacity: 0;
  transform: scale(1.07);
}
.test .bg .img + .img {
  clip-path: inset(100% 0 0 0);
}
.test .inner {
  height: 100%;
  max-width: 900px;
  margin: 0 auto;
}
.test .content {
  position: relative;
  --width: 100%;
  --height: calc(var(--width) / 1.2);
  height: 100%;
}
.test .content .cards {
  position: relative;
  width: 100%;
  height: 100%;
}
.test .content .cards [class*=card] {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: calc(-1 * var(--width) / 2);
  margin-top: 110px;
  height: var(--height);
  width: var(--width);
  border-radius: 17px;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.15);
  background: var(--main-white);
  font-size: 30px;
  padding: 25px 30px;
  color: var(--main-black);
  font-weight: 500;
}
.test .content .cards [class*=card] img {
  width: 100%;
  height: 100%;
}
@keyframes cardAni {
  0% {
    width: 288px;
  }
  100% {
    width: var(--width);
  }
}
.test .content [class*=text] {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 1.042em;
  line-height: 150%;
  opacity: 0;
  word-break: break-all;
  mix-blend-mode: difference;
  z-index: 1;
}
.test .content [class*=text].text1 {
  opacity: 1;
}

/*skills*/
.skills {
  height: 100vh;
}
.skills::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20vh;
  background: linear-gradient(180deg, var(--main-black), transparent);
  z-index: 10;
}
.skills::after {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20vh;
  background: linear-gradient(0deg, var(--main-black), transparent);
  z-index: 10;
}
.skills .inner {
  width: 100%;
  height: 100%;
}
.skills .box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  perspective: 70vw;
}
.skills ul {
  position: absolute;
  text-align: center;
  font-size: 130px;
  height: 100vh;
  top: 0;
  left: 0;
  width: 100%;
  transform: rotateX(-60deg);
  transform-origin: 50% 50%;
  transform-style: preserve-3d;
  letter-spacing: -0.01em;
  text-align: center;
}
.skills ul li {
  left: 50%;
  top: 50%;
  position: absolute;
  transform-origin: 50% 50%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-transform: uppercase;
}
.skills ul li:nth-child(1) {
  transform: translate(-50%, -50%) rotateX(-12deg) translateZ(550px);
}
.skills ul li:nth-child(2) {
  transform: translate(-50%, -50%) rotateX(-24deg) translateZ(550px);
}
.skills ul li:nth-child(3) {
  transform: translate(-50%, -50%) rotateX(-36deg) translateZ(550px);
}
.skills ul li:nth-child(4) {
  transform: translate(-50%, -50%) rotateX(-48deg) translateZ(550px);
}
.skills ul li:nth-child(5) {
  transform: translate(-50%, -50%) rotateX(-60deg) translateZ(550px);
}
.skills ul li:nth-child(6) {
  transform: translate(-50%, -50%) rotateX(-72deg) translateZ(550px);
}
.skills ul li:nth-child(7) {
  transform: translate(-50%, -50%) rotateX(-84deg) translateZ(550px);
}
.skills ul li:nth-child(8) {
  transform: translate(-50%, -50%) rotateX(-96deg) translateZ(550px);
}
.skills ul li:nth-child(9) {
  transform: translate(-50%, -50%) rotateX(-108deg) translateZ(550px);
}
.skills ul li:nth-child(10) {
  transform: translate(-50%, -50%) rotateX(-120deg) translateZ(550px);
}

@media screen and (min-width: 2550px) {
  .sec {
    /*title*/
  }
  .sec__title--lg {
    font-size: 200px;
    line-height: 95%;
    letter-spacing: -7px;
  }
}
@media screen and (max-width: 1280px) {
  .home .overlay {
    pointer-events: all;
  }
  .profile__contents i {
    width: 25px;
    height: 25px;
  }
}
@media screen and (max-width: 768px) {
  .sec__title--lg {
    letter-spacing: -3px;
  }
  .profile__contents i {
    width: 20px;
    height: 20px;
  }
  .skills .box {
    perspective: 350vw;
  }
  .profile__box {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  .title-group {
    margin-bottom: 30px;
  }
  .work__img {
    padding-top: 100vh;
  }
  .work__img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

/*# sourceMappingURL=index.css.map */
