/*common*/
@import "common.scss";

/*home*/
.home{height: 150vh;
  &__sticky{position: relative;}
  &__shapes-area{position: relative; width: 100%; height: 100%; min-height: 100vh; border-radius: 40px; overflow: hidden; background:linear-gradient(91deg, #989ca3, #686b72); transform:scale(0.35) translateX(80vw);
  }
  .overlay{position: absolute;width: 100%;height: 100%; top:0;bottom: 0; left: 0;right: 0;background: rgba(0,0,0,0); pointer-events: none; z-index: 2;}
  canvas{position: absolute;width: 100%;height: 100%; top:0;bottom: 0; left: 0;right: 0; display:block;}

  &__title{position: absolute;width: auto; bottom:3vw; left:0px; font-size: 2em; font-weight:600; text-transform: uppercase; mix-blend-mode: difference; color: var(--difference-gray); letter-spacing: -0.02em; line-height: 125%; z-index:10;
    .serif-italic--md{text-transform: initial;letter-spacing: 1px;}
  }
}

/*profile*/
.profile{pointer-events: none;
  .sec{
    /*title*/
    &__title{margin-bottom:60px;
      &--lg{margin-bottom:50px;}
      &--md{text-transform: uppercase;}
      .space{display: flex;justify-content: space-between;}
      .year{margin-right: 17px;}
    }
    &__cate{margin-bottom:40px;}
  }
  &__box{position: relative;width: 100%; border-radius: 30px 30px 0 0; backdrop-filter: blur(10px);-webkit-backdrop-filter: blur(10px); padding: 80px 0 150px;background:rgba(30, 31, 33, 0.8);pointer-events: initial;
    &:before{display: block; content: ""; position: absolute; bottom: -1px;left: 0;width: 100%;height: 150px;background: linear-gradient(0deg, #1E1F21, transparent 100%);}
  }
  &__item{border-top:1px solid var(--border-gray); padding: 25px 0 30px;}  
  &__category{font-size:15px; margin-bottom: 10px;}
  &__contents{@extend .font__style--md;
    a{display: inline-block;}
  }
  &__list{
    li{position: relative; padding-left:15px;
      &:before{display:block; content:"·"; position:absolute; top:0; left:0; }
    }
  }
  &__row{display: grid; grid-template-columns:1fr 1fr; grid-gap: 30px;
    &:last-child{
      [class*="__item"]{border-bottom:1px solid var(--border-gray);}
    }
    &--type1{grid-template-columns: 1fr;}
    &--type3{grid-template-columns: calc(25% - 23px) calc(25% - 23px) calc(50% - 15px) ;}
    &--type3-1{grid-template-columns: calc(50% - 15px) calc(25% - 23px) calc(25% - 23px);}
    &--type4{grid-template-columns: repeat(4, 1fr) ;}
  }
}

/*work*/
.work{padding-bottom: 150px;
  &:before{display: block; content: ""; position: absolute; top: -1px;left: 0;width: 100%;height: 200px;background:var(--main-black);}
  &__lineup{padding: 150px 0 0px;}
  .sec{
    &__title{ margin-bottom: 80px;
      &--lg{line-height: 85%;
        .serif-italic{letter-spacing: 0px;}
        .box{width: 100%;display: flex;justify-content: space-between; align-items: baseline;
          .move{position: relative; top:0.05em;}
        }
      }
    }
  }
  &__img{position: relative; transform: scale(0.4); transform-origin: left top; border-radius: 30px; padding-top: 56%; overflow: hidden;
    img{position: absolute; top:0; left: 0; width: 100%;}
    img + img{opacity: 0; transform: scale(1);}
  }
  .sec__cate{margin-bottom: 20px;}
	.ico-arrow--goto{width: 13px; height: 13px;}
  .history{
    &__list{@extend .font__style--md; border-top:1px solid var(--border-gray);
      li{display: grid; grid-template-columns: 120px auto 300px; align-items: center; gap:0 20px; padding: 5px 0; border-bottom:1px solid var(--border-gray);
        &:hover > *{opacity:0.5; transition: 0.2s;}
      }
    }
  }
  .copyright{display: flex;}
  .year-container{display: flex;overflow: hidden;
    .digit{position: relative;min-width: 0.62em;height: 0.8em; overflow: hidden;letter-spacing: -2px; display: flex;flex-direction: column;align-items: center;justify-content: center;
      span{position: absolute;width: 100%;text-align: center;
        &.current {z-index: 2; }
        &.next{position: absolute; z-index: 1;opacity: 0;}
      }
    }
  }
}


/*expertise*/
.expertise{padding:150px 0 150px; min-height: 100vh; margin-bottom: 150px; box-sizing: border-box;
  .sec{
    &__title{display: flex; justify-content: space-between;}
  }
  .inner{height: 100%; margin: 0 auto;}
  .content{position: relative; --width: 100%; padding-top: 150px;
    .cards{position: relative; width: 100%; height: 100%;
      .card{position: absolute; top:0; left:0%; border:1px solid var(--main-black); padding: 35px 30px 50px 30px;width: var(--width);border-radius: 0 17px 17px 17px;background:var(--main-white); font-size: 30px; font-weight: 500;
        &::before{display: block; content: ""; position: absolute; bottom: calc(100% - 1px);left: 0;width: 17vw;height: 45px;background:var(--main-white);border-radius: 17px 30px 0 0; z-index:-1;}
        &__title{font-size: 42px; 
          > b{@extend .font__style--md; display: block; font-weight: 500;}
          &--sub{@extend .font__style--md; margin-top: 10px;}
          &--desc{@extend .font__style--md; margin-top: 20px; }
        }
        &__list{
          li{position: relative; padding-left: 15px;
            &:before{display: block; content: "·"; position: absolute; top:0px;left: 0;}
          }
        }
        img{width: 100%;height: 100%;}
        @keyframes cardAni {
          0% {width: 288px;}
          100%{width: var(--width);}
        }
      }
    }
    [class*="text"]{position:absolute;bottom:0;left: 0; font-size:1.042em;line-height: 150%; opacity: 0; word-break: break-all;mix-blend-mode: difference; z-index: 1;
      &.text1{opacity: 1;}
    }
  }
}


/*folders*/
.folders{padding: 150px 0 250px; height: 100vh; min-height: 950px; display: flex; align-items: center; box-sizing: border-box;
  .sec{
    &__title{ margin-bottom: 80px;}
  }
  .card-slider{position: relative; width: 100%; padding-top: 30px;
    .slide-area{perspective:100vw;position: relative;--width: 370px;--height: calc(var(--width) / 3 *2);--origin: calc(var(--height) * 12);width: 100%;height: var(--height);
      .card-holder{ position: absolute;width: var(--width);height: 50vh;left: 50%;top: 0;transform: translateX(-50%);
        .card-transition{transform-origin: calc(var(--width) / 2) var(--origin); transform: rotate(50deg);
          .card{--rotation: 0deg;position: absolute;top: 0px;left: 0px;padding: 20px;background: #bbb;height: var(--height);width: var(--width);transform: rotate(var(--rotation));transform-origin: 50% var(--origin);border-radius: 20px;box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.01);box-sizing: border-box;
            &::before{display: block;content: "";position: absolute;bottom: calc(100% - 20px);left: 0;background: #bbb;width: 50%;height: 45px;border-radius: 20px 45px 0 0;z-index: -1;}
            &::after{display: block;content: "";position: absolute;bottom: 0;left: 0;width: 100%;height: 75%;background: rgba(255, 255, 255, .3);border-radius: 20px;backdrop-filter: blur(10px);-webkit-backdrop-filter: blur(10px); }
          }
        }
      }
    }
    .card-message{position: absolute;top: 100%;left: 0px;padding-left: 40px;margin-top: 20px;font-weight: 500;font-size: 18px;opacity: 0;
      &::before{display: block;content: "";position: absolute;top: 6px;left: 20px;width: 10px;height: 10px;border-radius: 100%;background: #bbbbbb;}
    }
  }
  .action-card{opacity: 0; --width: 288px;--height: calc(var(--width) / 3 *4);position: absolute; top:0;left: 50%; transform: translateX(-50%); width: 50%;height: var(--height); display: flex; justify-content: center;
    .card{width:  var(--width);height: var(--height); background: #fff; transform-style: preserve-3d;transform-origin: top;border-radius:17px; overflow: hidden;}
  }
  
}
/*skills*/
.skills{height: 100vh;
  &::before{display: block;content: "";position: absolute;top: 0;left: 0;width: 100%;height: 20vh;background: linear-gradient(180deg, var(--main-black), transparent);z-index: 10;}
  &::after{display: block;content: "";position: absolute;bottom: 0;left: 0;width: 100%;height: 20vh;background: linear-gradient(0deg, var(--main-black), transparent);z-index: 10;}

  .inner{width: 100%;height: 100%;}
  .box{display: flex; align-items: center; justify-content: center; width: 100%; height: 100%;perspective: 70vw;}
  ul{position: absolute; 
    text-align: center;
    font-size:130px;
    height: 100vh;
    top: 0;
    left: 0;
    width: 100%;
    transform: rotateX(-60deg);
    transform-origin: 50% 50%;
    transform-style: preserve-3d;
    letter-spacing: -.01em;
    text-align: center;
    li{left: 50%;
      top: 50%;
      position: absolute;
      transform-origin: 50% 50%;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      text-transform: uppercase;
    }
    @for $i from 1 through 10 {
      li:nth-child(#{$i}) {
        $angle: $i * 12deg; 
        transform:translate(-50%,-50%) rotateX(-$angle) translateZ(550px);
      }
    }
  }
}

@media screen and (min-width: 2550px){
	.sec{
    /*title*/
    &__title{
      &--lg{@include font-style(null, 200px, null, null, 95%); letter-spacing: -7px; }
    }
  }
}
@media screen and (max-width: 1280px){
  .home{
    .overlay{pointer-events:all;}
  }
  .profile{
    &__contents{
      i{width: 25px; height: 25px;}
    }
  } 
}
@media screen and (max-width: 768px){
  .home{
    &__shapes-area{transform:scale(1) translate(0,0); border-radius: 0;}
  }
  .sec__title--lg{letter-spacing: -3px;}
  .profile{
    &__contents{
      i{width: 20px; height: 20px;}
    }
  } 
  .skills .box{perspective: calc(70vw * 5);}
  .profile__box{border-top-left-radius: 15px; border-top-right-radius: 15px;}
  .title-group{margin-bottom: 30px;}
  .work{
    &__img{padding-top: 100vh; height: 100vh;
      img{height: 100%; width: auto;}
    }
  }
}


